{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.Title }}</h2>

     <img src="/media/{{listing.Image}}" width="250" height="300">
     
<hr> 
     <h4>About this item</h4>  
    
<ul>
    <li> <strong>Artist:</strong> {{listing.Artist}}</li>
    <li> <strong>Description:</strong> {{listing.Description}} </li>
    <li> <strong>Listed on:</strong  {{listing.ListedOn}}  by {{listing.ListedBy}} </li>
</ul>
<hr>
    <h4>Bid Details</h4>

<ul>
     <li> <strong>Listing Status:</strong> {{listing.Status}} </li>    
     <li> <strong>Highest Bid :</strong> {{listing.StartBidAmount}} or {{max_bid}}</li>
     <li> <strong>Current Bid From:</strong>   xxxxx       </li>
</ul>

<hr>
   <h4>Bid On Item</h4>
    <form method="post">
       {% csrf_token %}
       <table>
       {{form.as_table}} 
    <input type="submit">
</form>
{% if added %}
<a href="{% url 'add_watchlist' listing.id %} ">
     Remove From WatchList
</a>
{% else %}
<a href="{% url 'add_watchlist' listing.id %} ">
     Add To WatchList
</a>
{% endif %}





     <h4>Close Bid (optional if this bid was placed by the current user)</h4>
     <input type="submit">
<hr>
<h4>View and Add Comments</h4>
<ul>
         {% for com in listing.comment_set.all %}
               <li>
                    {{com.CommentBy}} :  {{com.CommentOn}} : {{com.Comment}}
               </li> 
         {% endfor %}
</ul>

<form method='POST' action="{% url 'post_comment' listing.id  %}">
     {% csrf_token %}
     <table>
          {{cform.as_table}}
     </table>
     <input type="submit">
</form>
  

<hr>
{% endblock %}


