{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.Title }}</h2>

     <img src="/media/{{listing.Image}}">
     
<hr> 
     <h4>About this item</h4>  
    
<ul>
    <li> Artist: {{listing.Artist}}</li>
    <li> Description: {{listing.Description}} </li>
    <li> Listed on:  {{listing.ListedOn}}  by {{listing.ListedBy}} </li>
</ul>
<hr>
    <h4>Bid Details</h4>

<ul>
     <li> Listing Status: {{listing.Status}} </li>    
     <li> Highest Bid : {{listing.StartBidAmount}} </li>
     <li> Current Bid From:   xxxxx       </li>
</ul>

<hr>
   <h4>Bid On Item</h4>
    <form method="post">
       {% csrf_token %}
       <table>
       {{form.as_table}} 
    <input type="submit">
</form>
<hr>

     <h4>Add/Remove Item to Watchlist</h4>
     <input type="submit">

<hr>
     <h4>Close Bid (optional if this bid was placed by the current user)</h4>
     <input type="submit">
<hr>
<h4>View and Add Comments</h4>
<input type="submit">
<hr>
{% endblock %}