{% extends "auctions/layout.html" %}

{% block body %}

<style>
     table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
</style>


    <h2>{{ listing.Title }}</h2>

     <img src="/media/{{listing.Image}}" width="250" height="300">
     
<hr> 

{% if added %}
<a href="{% url 'add_watchlist' listing.id %} ">Remove From WatchList</a>
{% else %}
<a href="{% url 'add_watchlist' listing.id %} ">Add To WatchList</a>
{% endif %}

<hr>

     <h4>About this item</h4>  
    
<ul>
    <li> <strong>Artist:</strong> {{listing.Artist}}</li>
    <li> <strong>Description:</strong> {{listing.Description}} </li>
    <li> <strong>Listed on:</strong>  {{listing.ListedOn}}  <strong>by</strong> {{listing.ListedBy}} </li>
</ul>
<hr>

    <h4>Bid Details</h4>

<ul>
     <li> <strong>Listing Status:</strong> {{listing.Status}} </li>    
     <li> <strong>Starting Bid :</strong> {{listing.StartBidAmount}} </li>
     <li> <strong>Current Bid :</strong> {{listing.max_bid}} </li>
     <li> <strong>Current Bid From:</strong>{{ listing.bid_set.last.BidBy }}</li>
</ul>


<hr>
{% if myitem %}
     {% if close %}
          <a href="{% url 'close_bid' listing.id %} "> Close This Bid!!!</a>
          {% else %}
          <strong> This is Bid Closed </strong>
          {% endif %}

{% else %}
    <h4>Bid On Item</h4>
           <form method="post" action="{% url 'post_bid' listing.id  %}">
                 {% csrf_token %}
               <table>
                    {{bform.as_table}} 
               </table>
          <input type="submit">
          </form>
{% endif %}


<hr>



<hr>

<h4>Item Comments</h4>
     <table>
          <tr>
           <th>Commented By </th>
           <th>Comment Date</th> 
           <th>Comment</th>
          </tr>
            {% for com in listing.comment_set.all %}     
          <tr>
               <td>{{com.CommentBy}}</td>
               <td>{{com.CommentOn}}</td>
               <td>{{com.Comment}}</td>
          </tr>
           {% endfor %}
     </table>

<hr>
     <h4>Add A Comment </h4>
          <form method='POST' action="{% url 'post_comment' listing.id  %}">
          {% csrf_token %}
                <table>
                     {{cform.as_table}}
                </table>
          <input type="submit">
          </form>
  

<hr>
{% endblock %}


